*{
    padding: 0px;
    margin: 0px;
}
.container{
    height: 100vmin;
    width: 80vmin;
    align-content: center;
    margin-left:35% ;
    justify-content: center;
    align-items: center;


}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 2rem;
    box-shadow: 0 0 1rem grey;
    gap: 1.5vmin;
}
.reset{
    height: 50px;
    width: 100px;
    align-content: center;

}
.new{
    height: 50px;
    width: 100px;
    align-content: center;
    margin-top: 10px;
}
.msg-container{
    height: 20px;
    width: 60vmin;
}
.hide{
    display: none;
}